<footer >
  <div class="w-full bg-gradient-to-r  mt-24 from-cyan-500 to-blue-500  text-white">
    <div class="xl:px-40 pb-12 lg:px-20 md:px-10 sm:px-5 px-10">
      <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2 justify-start">
        <div class=" pr-10">
          <img src="/images/tunlogo.png"  width="197" height="70"alt="" srcset="">
        </div>
        <div class="w-full sm:w-2/5 pr-6 pl-6  flex flex-col space-y-4">
         
          <h6 class="font-bold">A propos de</br>
          plateforme TUNIWORK</h6>
          <p class=" hover:text-orange-600"> <a href="http://">Qui sommes-nous ?</a></p>
          <p class=" hover:text-orange-600"> <a href="http://">Contact</a></p>
        </div>
        <div class="w-full mt-7 sm:w-1/5 pr-6 pl-6 flex-col space-y-4">
          <h6 class="font-bold">Freelances</h6>
          <p class=" hover:text-orange-600"> <a href="http://"> Pourquoi s'inscrire ?</a></p>
          <p class=" hover:text-orange-600"> <a href="http://">Journal</a></p>

        </div>

        <div class="w-full sm:w-1/5 pt-6 flex items-end mb-1">
          <div class="flex flex-row space-x-4">
            <a href="http://"><ion-icon class="w-9 h-9 hover:w-10 hover:h-10" name="logo-linkedin"></ion-icon></a>
           <a href="http://"><ion-icon  class="w-9 h-9  hover:w-10 hover:h-10" name="logo-twitter"></ion-icon></a>
            
          </div>
        </div>
      </div>
      <div class=" pt-2">
        <p>© 2023 TuniWork.</p>
      </div>
    </div>
  </div>
</footer>