   <nav class="bg-gradient-to-r from-cyan-500 to-blue-500">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              
                <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                    <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
                  </span>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <a href="/dashboarde">
                <img class="block h-10 w-auto lg:hidden" src="images/tunlogo.png" alt="Your Company">
                <img class="hidden h-10 w-auto lg:block" src="images/tunlogo.png" alt="Your Company">
                </a>
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    
                    <div class="relative inline-block text-left">
                        <div>
                          <button type="button" class="inline-flex hover:text-cyan-500 duration-500 w-full justify-center gap-x-1.5 rounded-md  px-3 py-2 text-sm font-semibold text-white  " id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="test2(this)" >
                            trouver un travail
                            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                          </button>
                        </div>
                      
                       
                        <div  class="absolute hidden   right-0 z-10 mt-2 w-auto origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="test3" name="menu1" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                          <div class="py-1" name="none1">
                            
                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-0">Trouver un emploi</a>
                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-1">Mes stats</a>
                            
                            
                          </div>
                        </div>
                      </div>
                 
                    <div class="relative inline-block text-left">
                        <div>
                          <button type="button" class="inline-flex hover:text-cyan-500 duration-500 w-full justify-center gap-x-1.5 rounded-md  px-3 py-2 text-sm font-semibold text-white     " id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="test6(this)" >
                            Mes métiers
                            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                          </button>
                        </div>
                      
                       
                        <div  class="absolute hidden   right-0 z-10 mt-2 w-auto origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="test7" name="menu7" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                          <div class="py-1" name="none7">
                            
                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-0">Mes travaux</a>
                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-1">Tout les Contrats</a>
                            
                            
                          </div>
                        </div>
                      </div>
                  
                  <a href="#" class="  hover:text-cyan-500 rounded-md px-3 py-2 text-sm font-semibold text-white">Message</a>
                  
                </div>
              </div>
            </div>
            <div class="hidden sm:flex">
              <div class=" lg:relative flex items-center focus-within:text-gray-500 ">
              <i class='bx bx-search-alt-2 absolute ml-1 mt-1 pointer-events-none   text-blue-700'> </i>
              <input type="text" class="   border px-5 border-blue-700 h-5 rounded-lg" placeholder="recherche">
             </div> 
         </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <div class="relative ml-3">
                <div>
                  <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" >
                    
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" onclick="test4(this)">
                  </button>
                </div>
      
                
                <div class="absolute hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" name="menu2" id="test5" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                 
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white " name="none2">
                        <div>{{utilisateurs.nom}} {{utilisateurs.prenom}}</div>
                        <div class="font-medium truncate">{{utilisateurs.email}}</div>
                        </div>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Profile</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Settings</a>
                 <form action="/logout"> <button  class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Deconnextion</button> </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      
       
        <div class="sm:hidden hidden" name="none" id="test1">
          <div class="space-y-1 flex flex-col px-2 pb-3 pt-2">
            <div class="  flex items-center focus-within:text-gray-500 ">
              <i class='bx bx-search-alt-2 absolute ml-1 mt-1 pointer-events-none   text-blue-700'> </i>
              <input type="text" class="   border px-5 border-blue-700 h-5 rounded-lg" placeholder="recherche">
             </div>
           
            <div class="relative inline-block text-left ">
                <div class="-ml-3">
                  <button type="button" class="inline-flex hover:text-cyan-500 duration-500    rounded-md  px-3 py-2 text-sm font-semibold text-white  " id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="test2i(this)" >
                    trouver un travail
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              
               
                <div  class="absolute hidden    z-10 mt-2 w-auto origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="test3i" name="menu1i" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" name="none1i">
                    
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-0">Trouver un emploi</a>
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-1">Mes stats</a>
                    
                    
                  </div>
                </div>
              </div>
              
              <div class="relative inline-block text-left ">
                <div>
                  <button type="button" class="inline-flex hover:text-cyan-500 duration-500  justify-center gap-x-1.5 rounded-md   text-sm font-semibold text-white     " id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="test6i(this)" >
                    Mes métiers
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              
               
                <div  class="absolute hidden    w-auto origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="test7i" name="menu7i" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" name="none7i">
                    
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-0">Mes travaux</a>
                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:text-cyan-500 duration-500" role="menuitem" tabindex="-1" id="menu-item-1">Tout les Contrats</a>
                    
                    
                  </div>
                </div>
              </div>
              <div class="py-2">
              <a href="#" class=" hover:text-cyan-500 rounded-md text-sm font-semibold text-white">Message</a>
            </div>
            
          </div>
        </div>
      </nav>
      <script>
        function test2(e){
        let list=document.getElementById("test3");
        e.name === 'menu1' ? (e.name="none1", list.classList.add('hidden')):(e.name="menu1",list.classList.remove('hidden'))
        
       }
       function test2i(e){
        let list=document.getElementById("test3i");
        e.name === 'menu1i' ? (e.name="none1i", list.classList.add('hidden')):(e.name="menu1i",list.classList.remove('hidden'))
        
       }
       function test6(e){
        let list=document.getElementById("test7");
        e.name === 'menu7' ? (e.name="none7", list.classList.add('hidden')):(e.name="menu7",list.classList.remove('hidden'))
        
       }
       function test6i(e){
        let list=document.getElementById("test7i");
        e.name === 'menu7i' ? (e.name="none7i", list.classList.add('hidden')):(e.name="menu7i",list.classList.remove('hidden'))
        
       }
        function Menu(e){
        let list=document.getElementById("test1");
        e.name === 'menu' ? (e.name="none", list.classList.remove('hidden')):(e.name="menu",list.classList.add('hidden'))
        
       }
        function test4(e){
        let list=document.getElementById("test5");
        e.name === 'menu2' ? (e.name="none2", list.classList.add('hidden')):(e.name="menu2",list.classList.remove('hidden'))
        
       }
      </script>