<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="stylesheet" href="./styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TuniWork</title>
</head>

<body>
  <div class="flex justify-between items-center ">
    <span class="mt-3 cursor-pointer">
      <a href="acceuil">
        <img class="h-14 ml-24 inline" src="images/tunlogo.png">
      </a>
    </span>

    <span class="text-3xl cursor-pointer mx-2 md:hidden block">
      <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
    </span>
  </div>
  <div class="min-h-screen py-40">
    <div class="container mx-auto">
      <div class="mx-auto flex w-10/12 flex-col overflow-hidden rounded-xl bg-white shadow-lg lg:w-8/12 lg:flex-row">
        <div class="flex w-full flex-col items-center justify-center bg-cover bg-center bg-no-repeat p-12 lg:w-1/2"
          style="background-image: url('https://img.freepik.com/photos-gratuite/freelance-chanceux-tatoue-devant-son-espace-travail-entoure-ses-jouets-loisir-longboard-velo-vintage-plante-verte-etirant-sa-main-dans-air-tout-faisant-pause_346278-1813.jpg?w=1380&t=st=1681596325~exp=1681596925~hmac=bed1be606e90fc15b66fed92205881fc85ea9de3890199f181cff13d749b1e94');">
          <h1 class="mb-3 text-3xl text-blue-50">Bienvenue</h1>
        </div>
        <div class="w-full px-12 py-16 lg:w-1/2">
          {{#if message }}
          
          <script>
            
              alert('{{message}}');
            
          </script>
          {{/if}}
          <h2 class="mb-4 text-3xl">Faire inscrire</h2>
          <p class="mb-4">Créez votre compte. C'est gratuit et ne prend qu'une minute</p>
          <form action="registerClient" method="post">
            <div class="grid grid-cols-2 gap-5">
              <input type="text" placeholder="Nom" id="nom" name="nom" class="border border-gray-400 px-2 py-1" />
              <input type="text" placeholder="Prenom" id="prenom" name="prenom"
                class="border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5">
              <input type="text" placeholder="Nom utilisation" id="pseudo" name="pseudo"
                class="w-full border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5">
              <input type="email" placeholder="Email" id="email" name="email"
                class="w-full border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5">
              <input type="password" placeholder="Mot de Passe" id="mot_de_passe" name="mot_de_passe"
                class="w-full border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5">
              <input type="password" placeholder="Confirmer Mot de passe" id="confirm_mot_de_passe"
                name="confirm_mot_de_passe" class="w-full border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5">
              <input type="date" id="date_nai" name="date_nai" class="w-full border border-gray-400 px-2 py-1" />
            </div>
            <div class="mt-5 ">
              <input type="checkbox" class="border border-gray-400" required />
              <span> J'accepte <a href="#" class="font-semibold text-blue-500">les conditions d'utilisation</a> et <a
                  href="#" class="font-semibold text-blue-500">la politique de confidentialité</a> </span>
            </div>
            <div class="mt-5">
              <button class="w-full bg-blue-500 py-3 text-center text-white">S'inscrire</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>